$main-color: #000000;
$second-color: #ffffff;
$cards-background-colors: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.1) 2.22%,
  rgba(114, 114, 114, 0.5) 42.25%,
  rgba(0, 0, 0, 0.8) 69.75%
);
$gray-menu-color: rgba(0, 0, 0, 0.5);
$menu-overlay-color: rgba(255, 255, 255, 0.5);
$yellow-icons-color: #ffd474;
$gray-text-color: #77838f;
$gray-subtitles-color: #848484;
$box-shadow-color: 0px 4px 4px rgba(0, 0, 0, 0.25);
